.page-main__promo-section {
  background-color: $color-leaf;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  min-height: 305px;
}

.page-main__promo-header {
  font-size: 36px;
  color: #ffffff;
  font-weight: normal;
}

.page-main__promo-slogan {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
